<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Restaurante' , noValidate: false, noNav: false}) %>
</head>

<body>
  <%- include('../partials/navbar', { username: user.name, active: 'gestao' , admin: user.isAdmin } ) %>


    <div class="container">
      <% if (message !=null) { %>
        <div class="row mt-4">
          <div class="col-12">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= message.desc %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <% } %>

          <div class="row align-items-center mt-4">
            <div class="col-12 table-responsive">
              <table class="table table-hover table-striped">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Imagem</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Desc</th>
                    <th scope="col">Preço</th>
                  </tr>
                </thead>
                <tbody id="table-data-add">
                  <% if (products) { %>
                    <% for( let index=0; index < products.length; index++ ) { %>
                      <tr id="<%= products[index]._id %> " class="align-middle product text-nowrap user-select-none">
                        <th scope="row" id="<%= products[index]._id %> " class=" text-center">
                          <img id="<%= products[index]._id %> " src="/img/<%= products[index].image %> "
                            alt="Produto <%= products[index].nome %>" width="70" height="70" class="img-thumbnail">
                        </th>
                        <td id="<%= products[index]._id %> ">
                          <%= products[index].nome %>
                        </td>
                        <td id="<%= products[index]._id %> ">
                          <%= products[index].desc %>
                        </td>
                        <td id="<%= products[index]._id %> ">
                          R$ <%= products[index].preco %>
                        </td>
                      </tr>
                      <% } %>
                        <% } %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="/add/produtos" type="button" class="btn btn-success">
                Novo
              </a>


            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="productModalLabel">Produto <span id="produto"></span></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="col-12 text-center mb-5">
                    <img id="productImage" class="img-thumbnail w-full">
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="productNome" placeholder="Nome do produto">
                      <label for="productNome">Produto</label>
                    </div>
                    <div class="form-floating mb-3">
                      <textarea class="form-control" placeholder="Descricao do produto" id="productDesc"
                        style="height: 100px"></textarea>
                      <label for="productDesc">Descrição</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="productPreco" placeholder="Nome do Preço">
                      <label for="productPreco">Preço</label>
                    </div>
                    <div class="form-floating mb-3">
                      <select class="form-control" id="productCategoria" placeholder="Nome do Categoria">
                        <option value="Hamburgeres">Hamburger</option>
                        <option value="Bebidas">Bebidas</option>
                      </select>
                      <label for="productCategoria">Categoria</label>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-danger">Deletar</button>
                  <button type="button" class="btn btn-warning">Salvar</button>
                </div>
              </div>
            </div>
          </div>

          <script src="/js/produtos.js" defer></script>
</body>

</html>